{
  "openapi": "3.1.0",
  "info": {
    "title": "xPlant API",
    "version": "1",
    "description": "The xPlant REST API. Every request is scoped to the calling key's workspace. Responses are `{ ok: true, data }` on success and `{ ok: false, data: null, error, code }` on failure; branch on `code`.",
    "contact": {
      "name": "xPlant support",
      "email": "support@xplantpro.com"
    }
  },
  "externalDocs": {
    "description": "Guides and examples",
    "url": "https://github.com/shmaplex/xplant_os"
  },
  "servers": [
    {
      "url": "https://app.xplantpro.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Who the calling key is, and the workspace it belongs to."
    },
    {
      "name": "Change history",
      "description": "An audit trail of edits to plant and explant records, for incremental sync."
    },
    {
      "name": "Demand signals",
      "description": "Sales and order demand per genus, used to prioritise the task queue."
    },
    {
      "name": "Devices",
      "description": "Register devices, send heartbeats and manage device tokens."
    },
    {
      "name": "Equipment",
      "description": "The lab equipment library and its use and maintenance history."
    },
    {
      "name": "Explants",
      "description": "Explant and culture records, with their vessel and plantlet counts."
    },
    {
      "name": "Labels",
      "description": "Resolve a scanned QR code or barcode to the record it identifies."
    },
    {
      "name": "Plants",
      "description": "Plant records in the workspace."
    },
    {
      "name": "Sensor readings",
      "description": "Environmental readings such as temperature and humidity."
    },
    {
      "name": "SOP runs",
      "description": "Run a procedure step by step and record evidence against each step."
    },
    {
      "name": "SOPs",
      "description": "Standard operating procedures and their steps."
    },
    {
      "name": "Stages",
      "description": "The stage history of plants and explants."
    },
    {
      "name": "Tasks",
      "description": "The lab's task queue: create, schedule, prioritise, assign and complete work."
    },
    {
      "name": "Transfers",
      "description": "Transfers of plants and explants onto fresh media."
    }
  ],
  "paths": {
    "/api/v1/device-events": {
      "post": {
        "operationId": "POST_api_v1_device_events",
        "tags": [
          "Devices"
        ],
        "summary": "POST /api/v1/device-events",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "deviceToken": []
          }
        ],
        "x-required-scopes": [
          "write:device_events"
        ],
        "x-idempotent": false,
        "x-device-token": true,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_WRONG_DEVICE` — A device token was used to write about a device other than its own.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_WRONG_DEVICE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_WRONG_DEVICE",
                "when": "A device token was used to write about a device other than its own."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "operationId": "GET_api_v1_devices",
        "tags": [
          "Devices"
        ],
        "summary": "GET /api/v1/devices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:devices"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "POST_api_v1_devices",
        "tags": [
          "Devices"
        ],
        "summary": "POST /api/v1/devices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/heartbeat": {
      "post": {
        "operationId": "POST_api_v1_devices_deviceId_heartbeat",
        "tags": [
          "Devices"
        ],
        "summary": "POST /api/v1/devices/{deviceId}/heartbeat",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "deviceToken": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": false,
        "x-device-token": true,
        "x-documented": false,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_WRONG_DEVICE` — A device token was used to write about a device other than its own.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_WRONG_DEVICE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_WRONG_DEVICE",
                "when": "A device token was used to write about a device other than its own."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/tokens": {
      "get": {
        "operationId": "GET_api_v1_devices_deviceId_tokens",
        "tags": [
          "Devices"
        ],
        "summary": "GET /api/v1/devices/{deviceId}/tokens",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:devices"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "POST_api_v1_devices_deviceId_tokens",
        "tags": [
          "Devices"
        ],
        "summary": "POST /api/v1/devices/{deviceId}/tokens",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/equipment/{id}/events": {
      "post": {
        "operationId": "POST_api_v1_equipment_id_events",
        "tags": [
          "Equipment"
        ],
        "summary": "POST /api/v1/equipment/{id}/events",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:equipment_events"
        ],
        "x-idempotent": true,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — The `Idempotency-Key` header is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The `Idempotency-Key` header is malformed."
              }
            ]
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "409": {
            "description": "`IDEMPOTENCY_IN_FLIGHT` — A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "IDEMPOTENCY_IN_FLIGHT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "IDEMPOTENCY_IN_FLIGHT",
                "when": "A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds."
              }
            ],
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "GET_api_v1_events",
        "tags": [
          "Change history"
        ],
        "summary": "GET /api/v1/events",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:events"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/explants": {
      "get": {
        "operationId": "GET_api_v1_explants",
        "tags": [
          "Explants"
        ],
        "summary": "GET /api/v1/explants",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:explants"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/explants/{id}": {
      "get": {
        "operationId": "GET_api_v1_explants_id_",
        "tags": [
          "Explants"
        ],
        "summary": "GET /api/v1/explants/{id}",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:explants"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/label-scans": {
      "post": {
        "operationId": "POST_api_v1_label_scans",
        "tags": [
          "Labels"
        ],
        "summary": "POST /api/v1/label-scans",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:label_scans"
        ],
        "x-idempotent": true,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — The `Idempotency-Key` header is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The `Idempotency-Key` header is malformed."
              }
            ]
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "409": {
            "description": "`IDEMPOTENCY_IN_FLIGHT` — A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "IDEMPOTENCY_IN_FLIGHT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "IDEMPOTENCY_IN_FLIGHT",
                "when": "A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds."
              }
            ],
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/labels/resolve": {
      "get": {
        "operationId": "GET_api_v1_labels_resolve",
        "tags": [
          "Labels"
        ],
        "summary": "GET /api/v1/labels/resolve",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:labels"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "operationId": "GET_api_v1_me",
        "tags": [
          "Account"
        ],
        "summary": "GET /api/v1/me",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plants": {
      "get": {
        "operationId": "GET_api_v1_plants",
        "tags": [
          "Plants"
        ],
        "summary": "GET /api/v1/plants",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:plants"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/plants/{id}": {
      "get": {
        "operationId": "GET_api_v1_plants_id_",
        "tags": [
          "Plants"
        ],
        "summary": "GET /api/v1/plants/{id}",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:plants"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sensor-readings": {
      "get": {
        "operationId": "GET_api_v1_sensor_readings",
        "tags": [
          "Sensor readings"
        ],
        "summary": "GET /api/v1/sensor-readings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:sensor_readings"
        ],
        "x-idempotent": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "POST_api_v1_sensor_readings",
        "tags": [
          "Sensor readings"
        ],
        "summary": "POST /api/v1/sensor-readings",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "deviceToken": []
          }
        ],
        "x-required-scopes": [
          "write:sensor_readings"
        ],
        "x-idempotent": false,
        "x-device-token": true,
        "x-documented": false,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
[...]
