{
  "openapi": "3.1.0",
  "info": {
    "title": "xPlant API",
    "version": "1",
    "description": "The xPlant REST API. Every request is scoped to the calling key's workspace. Responses are `{ ok: true, data }` on success and `{ ok: false, data: null, error, code }` on failure; branch on `code`.",
    "contact": {
      "name": "xPlant support",
      "email": "support@xplantpro.com"
    }
  },
  "externalDocs": {
    "description": "Guides and examples",
    "url": "https://github.com/shmaplex/xplant_os"
  },
  "servers": [
    {
      "url": "https://app.xplantpro.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-scopes": [
    {
      "id": "read:workspace",
      "label": "Read workspace",
      "description": "Read workspace and lab settings",
      "category": "Workspace"
    },
    {
      "id": "read:plants",
      "label": "Read plants",
      "description": "Read plant records",
      "category": "Plants"
    },
    {
      "id": "write:plants",
      "label": "Write plants",
      "description": "Create and update plant records",
      "category": "Plants"
    },
    {
      "id": "read:explants",
      "label": "Read explants",
      "description": "Read explant records",
      "category": "Explants"
    },
    {
      "id": "write:explants",
      "label": "Write explants",
      "description": "Create and update explant records",
      "category": "Explants"
    },
    {
      "id": "read:contaminations",
      "label": "Read contaminations",
      "description": "Read contamination logs",
      "category": "Contaminations"
    },
    {
      "id": "write:contaminations",
      "label": "Write contaminations",
      "description": "Submit contamination observations",
      "category": "Contaminations"
    },
    {
      "id": "read:tasks",
      "label": "Read tasks",
      "description": "Read scheduled tasks and due work",
      "category": "Tasks"
    },
    {
      "id": "write:tasks",
      "label": "Write tasks",
      "description": "Create, update, complete, and reopen tasks",
      "category": "Tasks"
    },
    {
      "id": "write:demand",
      "label": "Write demand signals",
      "description": "Push sales/order demand numbers per genus for task prioritization",
      "category": "Tasks"
    },
    {
      "id": "read:comments",
      "label": "Read comments",
      "description": "Read notes and comments on lab records",
      "category": "Comments"
    },
    {
      "id": "write:comments",
      "label": "Write comments",
      "description": "Add notes and comments to lab records",
      "category": "Comments"
    },
    {
      "id": "read:assets",
      "label": "Read media",
      "description": "Read photos and media attached to lab records",
      "category": "Media"
    },
    {
      "id": "write:assets",
      "label": "Write media",
      "description": "Attach photos and media to lab records",
      "category": "Media"
    },
    {
      "id": "read:media_recipes",
      "label": "Read media recipes",
      "description": "Read media recipe data",
      "category": "Media"
    },
    {
      "id": "write:media_recipes",
      "label": "Write media recipes",
      "description": "Create and update media recipes",
      "category": "Media"
    },
    {
      "id": "read:transfers",
      "label": "Read transfers",
      "description": "Read transfer and stage history for plants and explants",
      "category": "Transfers"
    },
    {
      "id": "write:transfers",
      "label": "Write transfers",
      "description": "Record transfers and advance the stage of plants and explants",
      "category": "Transfers"
    },
    {
      "id": "read:sops",
      "label": "Read SOPs",
      "description": "Read SOP templates and steps",
      "category": "SOPs"
    },
    {
      "id": "read:sop_runs",
      "label": "Read SOP run history",
      "description": "Read SOP execution history: who ran which step, when",
      "category": "SOPs"
    },
    {
      "id": "write:sop_runs",
      "label": "Write SOP runs",
      "description": "Create and advance SOP run sessions",
      "category": "SOPs"
    },
    {
      "id": "write:sop_steps",
      "label": "Write SOP step evidence",
      "description": "Post confirmations, scans and measurements against a step of an SOP run",
      "category": "SOPs"
    },
    {
      "id": "read:labels",
      "label": "Read labels",
      "description": "Resolve QR/barcode label codes to entity records",
      "category": "Labels"
    },
    {
      "id": "write:label_scans",
      "label": "Write label scans",
      "description": "Submit label scan events",
      "category": "Labels"
    },
    {
      "id": "read:devices",
      "label": "Read devices",
      "description": "List registered devices and their status",
      "category": "Devices"
    },
    {
      "id": "write:devices",
      "label": "Write devices",
      "description": "Register devices, send heartbeats, and manage device tokens",
      "category": "Devices"
    },
    {
      "id": "read:sensor_readings",
      "label": "Read sensor readings",
      "description": "Query historical sensor readings",
      "category": "Devices"
    },
    {
      "id": "write:sensor_readings",
      "label": "Write sensor readings",
      "description": "Submit environmental sensor readings (temperature, humidity, etc.)",
      "category": "Devices"
    },
    {
      "id": "write:device_events",
      "label": "Write device events",
      "description": "Submit device status events",
      "category": "Devices"
    },
    {
      "id": "read:equipment",
      "label": "Read equipment",
      "description": "Read the lab equipment library and its maintenance history",
      "category": "Equipment"
    },
    {
      "id": "write:equipment_events",
      "label": "Write equipment events",
      "description": "Record that a piece of equipment was used, calibrated, serviced or faulted",
      "category": "Equipment"
    },
    {
      "id": "read:pricing",
      "label": "Read culture line pricing",
      "description": "Read culture line prices, pricing tiers, and price history",
      "category": "Commercial"
    },
    {
      "id": "read:commerce",
      "label": "Read sell-through",
      "description": "Read store order lines and sell-through summaries",
      "category": "Commercial"
    },
    {
      "id": "read:events",
      "label": "Read change history",
      "description": "Read plant and explant edit history (audit events)",
      "category": "History"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Who the calling key is, and the workspace it belongs to."
    },
    {
      "name": "Change history",
      "description": "What happened to plant and explant records, oldest first, for incremental sync."
    },
    {
      "name": "Demand signals",
      "description": "Sales and order demand per genus, used to prioritise the task queue."
    },
    {
      "name": "Devices",
      "description": "Register devices, send heartbeats and manage device tokens."
    },
    {
      "name": "Equipment",
      "description": "The lab equipment library and its use and maintenance history."
    },
    {
      "name": "Explants",
      "description": "Explant and culture records, with their vessel and plantlet counts."
    },
    {
      "name": "Labels",
      "description": "Resolve a scanned QR code or barcode to the record it identifies, and record that a scan happened."
    },
    {
      "name": "Plants",
      "description": "Plant records in the workspace."
    },
    {
      "name": "Sensor readings",
      "description": "Environmental readings such as temperature and humidity."
    },
    {
      "name": "SOP runs",
      "description": "Run a procedure step by step and record evidence against each step."
    },
    {
      "name": "SOPs",
      "description": "Standard operating procedures and their steps."
    },
    {
      "name": "Stages",
      "description": "The stage history of plants and explants."
    },
    {
      "name": "Tasks",
      "description": "The lab's task queue: create, schedule, prioritise, assign and complete work."
    },
    {
      "name": "Transfers",
      "description": "Transfers of plants and explants onto fresh media."
    }
  ],
  "paths": {
    "/api/v1/device-events": {
      "post": {
        "operationId": "createDeviceEvent",
        "tags": [
          "Devices"
        ],
        "summary": "Record a device event",
        "description": "Records something that happened on a device — an alert, an error, a firmware update or a configuration change — with whatever detail you put in `payload`. Send it with the device's own token, which may only write about that device, or with a workspace key.\n\nEvents are not deduplicated: a request retried after a dropped response is recorded twice.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "deviceToken": []
          }
        ],
        "x-required-scopes": [
          "write:device_events"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": true,
        "x-documented": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The device the event is about."
                  },
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "heartbeat",
                      "alert",
                      "firmware_update",
                      "config_change",
                      "error",
                      "other"
                    ],
                    "description": "What kind of event this is."
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      ]
                    },
                    "default": {},
                    "description": "Any JSON object describing the event."
                  },
                  "occurred_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When it happened, as an ISO 8601 timestamp in UTC ending in `Z`. Defaults to the time the request arrives."
                  }
                },
                "required": [
                  "device_id",
                  "event_type"
                ]
              },
              "example": {
                "device_id": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                "event_type": "alert",
                "payload": {
                  "reason": "humidity_high",
                  "humidity_percent": 94
                },
                "occurred_at": "2026-09-25T13:58:00.000Z"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeviceEvent"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "c7d2a9e4-1b6f-4c3a-8e5d-0f9b2a7c4e61",
                    "device_id": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                    "team_id": "5d2e8b17-9c4a-4e3f-b6d0-1a7c9e2f4b83",
                    "event_type": "alert",
                    "payload": {
                      "reason": "humidity_high",
                      "humidity_percent": 94
                    },
                    "occurred_at": "2026-09-25T13:58:00.000Z",
                    "created_at": "2026-09-25T13:58:01.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — The request body is not valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The request body is not valid JSON."
              }
            ]
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_WRONG_DEVICE` — A device token was used to write about a device other than its own.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_WRONG_DEVICE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_WRONG_DEVICE",
                "when": "A device token was used to write about a device other than its own."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — `device_id` does not name a device in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "`device_id` does not name a device in the workspace."
              }
            ]
          },
          "422": {
            "description": "`VALIDATION_ERROR` — A field failed validation. `error` names the first one, for example `event_type: Invalid enum value`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "A field failed validation. `error` names the first one, for example `event_type: Invalid enum value`."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_EVENT_CREATE_FAILED` — The event could not be saved. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_EVENT_CREATE_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_EVENT_CREATE_FAILED",
                "when": "The event could not be saved. Retry later."
              }
            ]
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "operationId": "listDevices",
        "tags": [
          "Devices"
        ],
        "summary": "List devices",
        "description": "Every device registered to the workspace, newest first. The list is not paged.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:devices"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "id": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                      "name": "Shelf 3 climate probe",
                      "type": "sensor",
                      "hardware": "Raspberry Pi 4",
                      "status": "active",
                      "firmware_version": "1.4.2",
                      "room_id": "2c6f9a41-7d3e-4b8a-a1c5-9e0d4f7b3a26",
                      "last_seen_at": "2026-09-25T14:05:00.000Z",
                      "metadata": {
                        "shelf": 3
                      },
                      "created_at": "2026-09-01T09:30:00.000Z",
                      "updated_at": "2026-09-25T14:05:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_QUERY_FAILED` — The devices could not be read. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_QUERY_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_QUERY_FAILED",
                "when": "The devices could not be read. Retry later."
              }
            ]
          }
        }
      },
      "post": {
        "operationId": "createDevice",
        "tags": [
          "Devices"
        ],
        "summary": "Register a device",
        "description": "Adds a sensor, controller or gateway to the workspace so it can send heartbeats, readings and events. Then mint a device token for it and put that token on the device, rather than a workspace key.\n\nIf the workspace has already connected every device its plan includes, the request is refused with `DEVICE_LIMIT_REACHED`. Send an `Idempotency-Key` so a retried request cannot register the same device twice.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": true,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "What the lab calls the device, as it appears in the device list."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "sensor",
                      "controller",
                      "gateway"
                    ],
                    "default": "sensor",
                    "description": "What kind of device this is."
                  },
                  "hardware": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The board or model, for example `Raspberry Pi 4`."
                  },
                  "firmware_version": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "The firmware or software version the device runs."
                  },
                  "room_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The growing room the device sits in. Must be a room in the workspace."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      ]
                    },
                    "default": {},
                    "description": "Any JSON object you want kept with the device."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Shelf 3 climate probe",
                "type": "sensor",
                "hardware": "Raspberry Pi 4",
                "firmware_version": "1.4.2",
                "room_id": "2c6f9a41-7d3e-4b8a-a1c5-9e0d4f7b3a26",
                "metadata": {
                  "shelf": 3
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Device"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                    "name": "Shelf 3 climate probe",
                    "type": "sensor",
                    "hardware": "Raspberry Pi 4",
                    "status": "active",
                    "firmware_version": "1.4.2",
                    "room_id": "2c6f9a41-7d3e-4b8a-a1c5-9e0d4f7b3a26",
                    "last_seen_at": null,
                    "metadata": {
                      "shelf": 3
                    },
                    "created_at": "2026-09-01T09:30:00.000Z",
                    "updated_at": "2026-09-01T09:30:00.000Z"
                  }
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — The request body is not valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The request body is not valid JSON."
              }
            ]
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.\n\n`DEVICE_LIMIT_REACHED` — The workspace has connected every device its plan includes. Retire a device it no longer uses, or contact support to raise the limit.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED",
                            "DEVICE_LIMIT_REACHED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              },
              {
                "code": "DEVICE_LIMIT_REACHED",
                "when": "The workspace has connected every device its plan includes. Retire a device it no longer uses, or contact support to raise the limit."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — `room_id` does not name a growing room in the workspace. Nothing was registered.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "`room_id` does not name a growing room in the workspace. Nothing was registered."
              }
            ]
          },
          "409": {
            "description": "`IDEMPOTENCY_IN_FLIGHT` — A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "IDEMPOTENCY_IN_FLIGHT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "IDEMPOTENCY_IN_FLIGHT",
                "when": "A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds."
              }
            ],
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — The `Idempotency-Key` header is malformed.\n\n`VALIDATION_ERROR` — A field failed validation. `error` names the first one, for example `name: String must contain at least 1 character(s)`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The `Idempotency-Key` header is malformed."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "A field failed validation. `error` names the first one, for example `name: String must contain at least 1 character(s)`."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_CREATE_FAILED` — The device could not be saved. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_CREATE_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_CREATE_FAILED",
                "when": "The device could not be saved. Retry with the same `Idempotency-Key`."
              }
            ]
          },
          "503": {
            "description": "`DEVICE_LIMIT_UNAVAILABLE` — The workspace's device allowance could not be checked, so nothing was registered. Retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_LIMIT_UNAVAILABLE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_LIMIT_UNAVAILABLE",
                "when": "The workspace's device allowance could not be checked, so nothing was registered. Retry shortly."
              }
            ]
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/heartbeat": {
      "post": {
        "operationId": "sendHeartbeat",
        "tags": [
          "Devices"
        ],
        "summary": "Send a heartbeat",
        "description": "Tells xPlant the device is alive and stamps its last-seen time. xPlant shows a device as offline once 15 minutes pass without hearing from it, so send a heartbeat every minute or two. The request has no body.\n\nA repeated heartbeat does no harm, so a retry needs no `Idempotency-Key`. A device token may send heartbeats only for its own device.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "deviceToken": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": true,
        "x-documented": true,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The device's id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Heartbeat"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "received_at": "2026-09-25T14:05:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_WRONG_DEVICE` — A device token was used to write about a device other than its own.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_WRONG_DEVICE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_WRONG_DEVICE",
                "when": "A device token was used to write about a device other than its own."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No device with this id is registered in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No device with this id is registered in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_UPDATE_FAILED` — The heartbeat could not be recorded. Retry, or send the next one on schedule.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_UPDATE_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_UPDATE_FAILED",
                "when": "The heartbeat could not be recorded. Retry, or send the next one on schedule."
              }
            ]
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/tokens": {
      "get": {
        "operationId": "listDeviceTokens",
        "tags": [
          "Devices"
        ],
        "summary": "List a device's tokens",
        "description": "Every token minted for the device, active and revoked, newest first. Each carries its prefix, name, status and last use — what you need to tell tokens apart and decide which to revoke. The secret itself is never returned after the token is minted. The list is not paged.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:devices"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The device's id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeviceToken"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "id": "4f8a2c6e-9d1b-4e7a-b3c5-6a0d8f2e4b19",
                      "deviceId": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                      "name": "Grow room Pi",
                      "prefix": "xpd_live_0123456789a",
                      "status": "active",
                      "lastUsedAt": "2026-09-25T14:05:00.000Z",
                      "revokedAt": null,
                      "createdAt": "2026-09-01T09:40:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No device with this id is registered in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No device with this id is registered in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_TOKEN_QUERY_FAILED` — The tokens could not be read. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_TOKEN_QUERY_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_TOKEN_QUERY_FAILED",
                "when": "The tokens could not be read. Retry later."
              }
            ]
          }
        }
      },
      "post": {
        "operationId": "createDeviceToken",
        "tags": [
          "Devices"
        ],
        "summary": "Mint a device token",
        "description": "Creates a credential for one device. Put it on the device in place of a workspace key: it can send that device's heartbeats, readings and events, and nothing else.\n\n**The secret is in `token`, and this is the only response that contains it.** Store it on the device straight away. If it is lost, mint another and revoke the old one.\n\nMint tokens with a workspace key — a device token cannot create tokens. A retried request mints a second token rather than returning the first, so revoke whichever one you do not keep. Every field is optional; send `{}` or no body at all.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The device's id."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "description": "A label to tell the device's tokens apart, for example `Grow room Pi`."
                  },
                  "environment": {
                    "type": "string",
                    "enum": [
                      "production",
                      "development"
                    ],
                    "default": "production",
                    "description": "`production` mints an `xpd_live_` token and `development` an `xpd_dev_` one. Both act on the same workspace."
                  }
                }
              },
              "example": {
                "name": "Grow room Pi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeviceTokenCreated"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "4f8a2c6e-9d1b-4e7a-b3c5-6a0d8f2e4b19",
                    "deviceId": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                    "name": "Grow room Pi",
                    "prefix": "xpd_live_0123456789a",
                    "token": "xpd_live_0123456789abcdef0123456789abcdef0123456789abcdef",
                    "createdAt": "2026-09-01T09:40:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No device with this id is registered in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No device with this id is registered in the key's workspace."
              }
            ]
          },
          "422": {
            "description": "`VALIDATION_ERROR` — A field failed validation, such as a `name` longer than 120 characters. `error` names it.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "A field failed validation, such as a `name` longer than 120 characters. `error` names it."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_TOKEN_CREATE_FAILED` — The token could not be created, and none was minted. Retry.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_TOKEN_CREATE_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_TOKEN_CREATE_FAILED",
                "when": "The token could not be created, and none was minted. Retry."
              }
            ]
          }
        }
      }
    },
    "/api/v1/devices/{deviceId}/tokens/{tokenId}": {
      "delete": {
        "operationId": "revokeDeviceToken",
        "tags": [
          "Devices"
        ],
        "summary": "Revoke a device token",
        "description": "Stops one device token working: the next request made with it is refused as unauthorized. The token stays in the device's token list, marked `revoked` with the time it was revoked, so the list remains a complete history of the device's credentials.\n\nRevoking a token that is already revoked is not an error — you get the token back as it stands, with its original revocation time. Taking a device out of service revokes all of its tokens at once.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:devices"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The device's id."
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The token's id, as the token list returns it."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeviceToken"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "4f8a2c6e-9d1b-4e7a-b3c5-6a0d8f2e4b19",
                    "deviceId": "8e3b1f52-6c0d-4a7e-9b21-5f4d8c2a7e13",
                    "name": "Grow room Pi",
                    "prefix": "xpd_live_0123456789a",
                    "status": "revoked",
                    "lastUsedAt": "2026-09-25T14:05:00.000Z",
                    "revokedAt": "2026-09-25T15:00:00.000Z",
                    "createdAt": "2026-09-01T09:40:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No token with this id belongs to this device in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No token with this id belongs to this device in the key's workspace."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`DEVICE_TOKEN_REVOKE_FAILED` — The token could not be revoked and may still work. Retry.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "DEVICE_TOKEN_REVOKE_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "DEVICE_TOKEN_REVOKE_FAILED",
                "when": "The token could not be revoked and may still work. Retry."
              }
            ]
          }
        }
      }
    },
    "/api/v1/equipment/{id}/events": {
      "post": {
        "operationId": "POST_api_v1_equipment_id_events",
        "tags": [
          "Equipment"
        ],
        "summary": "POST /api/v1/equipment/{id}/events",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:equipment_events"
        ],
        "x-idempotent": true,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": false,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "404": {
            "description": "`NOT_FOUND` — No record with this id exists in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No record with this id exists in the key's workspace."
              }
            ]
          },
          "409": {
            "description": "`IDEMPOTENCY_IN_FLIGHT` — A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "IDEMPOTENCY_IN_FLIGHT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "IDEMPOTENCY_IN_FLIGHT",
                "when": "A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds."
              }
            ],
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — The `Idempotency-Key` header is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The `Idempotency-Key` header is malformed."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "listChangeEvents",
        "tags": [
          "Change history"
        ],
        "summary": "List change history",
        "description": "What has happened to the workspace's plants or explants, oldest first: transfers, stage changes, contamination records, observations, printed labels.\n\nUse it to keep your own system in step with xPlant without downloading everything again:\n\n1. The first time, call with `entity=plant`, and page with `offset` until a page comes back shorter than `limit`. Do the same with `entity=explant`.\n2. Save the newest `created_at` you received for each.\n3. Next time, pass that value as `since` and page again from `offset=0`.\n\nSeveral events can share one `created_at` — a batch import records many at once — so page through a `since` window to the end before you move `since` forward, and skip any `id` you already hold.\n\nThe history is written by work done in xPlant. Transfers and stage moves recorded through this API's own endpoints do not add events here; their responses already carry what was saved.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:events"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "plant",
                "explant"
              ]
            },
            "description": "Which history to read. Required: plant and explant histories are separate, so sync each with its own calls."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events recorded after this moment, as an ISO 8601 timestamp such as `2026-09-24T00:00:00Z`. Pass the newest `created_at` you already hold."
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChangeEvent"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "id": "4b3a2918-0716-4f5e-8d4c-3b2a19087f6e",
                      "entity_type": "explant",
                      "entity_id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
                      "stage_id": "6e5d4c3b-2a19-4807-96a5-b4c3d2e1f0a9",
                      "event_type": "transfer",
                      "event_time": "2026-09-24T00:00:00+00:00",
                      "recorded_by": "0d7e4b9a-6f21-4c3e-8a5b-2e9f1c7d4a60",
                      "payload": {
                        "transfer_id": "c7d8e9f0-a1b2-4c3d-8e4f-5a6b7c8d9e0f",
                        "transfer_cycle": 5,
                        "from_location": "Growth room 1, shelf B2",
                        "to_location": "Growth room 1, shelf C1",
                        "observed_vessel_count": 12,
                        "plantlet_count": 48
                      },
                      "created_at": "2026-09-24T09:12:45.118Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace is not on a paid plan. The API is available on paid plans.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace is not on a paid plan. The API is available on paid plans."
              }
            ]
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires; `error` names the scope.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires; `error` names the scope."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ]
          },
          "422": {
            "description": "`VALIDATION_ERROR` — `entity` is missing or is not `plant` or `explant`, or `since` is not a valid timestamp.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "`entity` is missing or is not `plant` or `explant`, or `since` is not a valid timestamp."
              }
            ]
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
[...]
