{
  "openapi": "3.1.0",
  "info": {
    "title": "xPlant API",
    "version": "1",
    "description": "The xPlant REST API. Every request is scoped to the calling key's workspace. Responses are `{ ok: true, data }` on success and `{ ok: false, data: null, error, code }` on failure; branch on `code`.",
    "contact": {
      "name": "xPlant support",
      "email": "support@xplantpro.com"
    }
  },
  "externalDocs": {
    "description": "Guides and examples",
    "url": "https://github.com/shmaplex/xplant_os"
  },
  "servers": [
    {
      "url": "https://app.xplantpro.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-scopes": [
    {
      "id": "read:workspace",
      "label": "Read workspace",
      "description": "Read workspace and lab settings",
      "category": "Workspace"
    },
    {
      "id": "read:plants",
      "label": "Read plants",
      "description": "Read plant records",
      "category": "Plants"
    },
    {
      "id": "write:plants",
      "label": "Write plants",
      "description": "Create and update plant records",
      "category": "Plants"
    },
    {
      "id": "read:explants",
      "label": "Read explants",
      "description": "Read explant records",
      "category": "Explants"
    },
    {
      "id": "write:explants",
      "label": "Write explants",
      "description": "Create and update explant records",
      "category": "Explants"
    },
    {
      "id": "read:contaminations",
      "label": "Read contaminations",
      "description": "Read contamination logs",
      "category": "Contaminations"
    },
    {
      "id": "write:contaminations",
      "label": "Write contaminations",
      "description": "Submit contamination observations",
      "category": "Contaminations"
    },
    {
      "id": "read:tasks",
      "label": "Read tasks",
      "description": "Read scheduled tasks and due work",
      "category": "Tasks"
    },
    {
      "id": "write:tasks",
      "label": "Write tasks",
      "description": "Create, update, complete, and reopen tasks",
      "category": "Tasks"
    },
    {
      "id": "write:demand",
      "label": "Write demand signals",
      "description": "Push sales/order demand numbers per genus for task prioritization",
      "category": "Tasks"
    },
    {
      "id": "read:comments",
      "label": "Read comments",
      "description": "Read notes and comments on lab records",
      "category": "Comments"
    },
    {
      "id": "write:comments",
      "label": "Write comments",
      "description": "Add notes and comments to lab records",
      "category": "Comments"
    },
    {
      "id": "read:assets",
      "label": "Read media",
      "description": "Read photos and media attached to lab records",
      "category": "Media"
    },
    {
      "id": "write:assets",
      "label": "Write media",
      "description": "Attach photos and media to lab records",
      "category": "Media"
    },
    {
      "id": "read:media_recipes",
      "label": "Read media recipes",
      "description": "Read media recipe data",
      "category": "Media"
    },
    {
      "id": "write:media_recipes",
      "label": "Write media recipes",
      "description": "Create and update media recipes",
      "category": "Media"
    },
    {
      "id": "read:transfers",
      "label": "Read transfers",
      "description": "Read transfer and stage history for plants and explants",
      "category": "Transfers"
    },
    {
      "id": "write:transfers",
      "label": "Write transfers",
      "description": "Record transfers and advance the stage of plants and explants",
      "category": "Transfers"
    },
    {
      "id": "read:sops",
      "label": "Read SOPs",
      "description": "Read SOP templates and steps",
      "category": "SOPs"
    },
    {
      "id": "read:sop_runs",
      "label": "Read SOP run history",
      "description": "Read SOP execution history: who ran which step, when",
      "category": "SOPs"
    },
    {
      "id": "write:sop_runs",
      "label": "Write SOP runs",
      "description": "Create and advance SOP run sessions",
      "category": "SOPs"
    },
    {
      "id": "write:sop_steps",
      "label": "Write SOP step evidence",
      "description": "Post confirmations, scans and measurements against a step of an SOP run",
      "category": "SOPs"
    },
    {
      "id": "read:labels",
      "label": "Read labels",
      "description": "Resolve QR/barcode label codes to entity records",
      "category": "Labels"
    },
    {
      "id": "write:label_scans",
      "label": "Write label scans",
      "description": "Submit label scan events",
      "category": "Labels"
    },
    {
      "id": "read:devices",
      "label": "Read devices",
      "description": "List registered devices and their status",
      "category": "Devices"
    },
    {
      "id": "write:devices",
      "label": "Write devices",
      "description": "Register devices, send heartbeats, and manage device tokens",
      "category": "Devices"
    },
    {
      "id": "read:sensor_readings",
      "label": "Read sensor readings",
      "description": "Query historical sensor readings",
      "category": "Devices"
    },
    {
      "id": "write:sensor_readings",
      "label": "Write sensor readings",
      "description": "Submit environmental sensor readings (temperature, humidity, etc.)",
      "category": "Devices"
    },
    {
      "id": "write:device_events",
      "label": "Write device events",
      "description": "Submit device status events",
      "category": "Devices"
    },
    {
      "id": "read:equipment",
      "label": "Read equipment",
      "description": "Read the lab equipment library and its maintenance history",
      "category": "Equipment"
    },
    {
      "id": "write:equipment_events",
      "label": "Write equipment events",
      "description": "Record that a piece of equipment was used, calibrated, serviced or faulted",
      "category": "Equipment"
    },
    {
      "id": "read:pricing",
      "label": "Read culture line pricing",
      "description": "Read culture line prices, pricing tiers, and price history",
      "category": "Commercial"
    },
    {
      "id": "read:commerce",
      "label": "Read sell-through",
      "description": "Read store order lines and sell-through summaries",
      "category": "Commercial"
    },
    {
      "id": "read:events",
      "label": "Read change history",
      "description": "Read plant and explant edit history (audit events)",
      "category": "History"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Who the calling key is, and the workspace it belongs to."
    },
    {
      "name": "Change history",
      "description": "What happened to plant and explant records, oldest first, for incremental sync."
    },
    {
      "name": "Comments",
      "description": "Notes and comments on lab records."
    },
    {
      "name": "Contamination",
      "description": "Contamination observations on plants and explants."
    },
    {
      "name": "Demand signals",
      "description": "Sales and order demand per genus, used to prioritise the task queue."
    },
    {
      "name": "Devices",
      "description": "Register devices, send heartbeats and manage device tokens."
    },
    {
      "name": "Equipment",
      "description": "The lab equipment library and its use and maintenance history."
    },
    {
      "name": "Explants",
      "description": "Explant and culture records, with their vessel and plantlet counts."
    },
    {
      "name": "Labels",
      "description": "Resolve a scanned QR code or barcode to the record it identifies, and record that a scan happened."
    },
    {
      "name": "Media files",
      "description": "Photos and files attached to lab records."
    },
    {
      "name": "Media recipes",
      "description": "Culture media recipes and their components."
    },
    {
      "name": "Plants",
      "description": "Plant records in the workspace."
    },
    {
      "name": "Pricing",
      "description": "Culture line prices, pricing tiers and price history."
    },
    {
      "name": "Sell-through",
      "description": "Store order lines and sell-through summaries."
    },
    {
      "name": "Sensor readings",
      "description": "Environmental readings such as temperature and humidity."
    },
    {
      "name": "SOP runs",
      "description": "Run a procedure step by step and record evidence against each step."
    },
    {
      "name": "SOPs",
      "description": "Standard operating procedures and their steps."
    },
    {
      "name": "Stages",
      "description": "The stage history of plants and explants."
    },
    {
      "name": "Tasks",
      "description": "The lab's task queue: create, schedule, prioritise, assign and complete work."
    },
    {
      "name": "Transfers",
      "description": "Transfers of plants and explants onto fresh media."
    }
  ],
  "paths": {
    "/api/v1/assets": {
      "get": {
        "operationId": "listAssets",
        "tags": [
          "Media files"
        ],
        "summary": "List a record's photos and files",
        "description": "The photos and files attached to one plant, explant, contamination log or SOP, newest first. Each carries a `view_url`: a link to the file itself that works for 15 minutes. List again for fresh links, and never store one.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:assets"
        ],
        "x-idempotent": false,
        "x-cursor": true,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "plant",
                "explant",
                "contamination",
                "sop"
              ]
            },
            "description": "The kind of record whose files to list: `plant`, `explant`, `contamination`, `sop`."
          },
          {
            "name": "target_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The id of that record."
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "id": "8c2f1a6e-4b3d-4f7a-9e21-5d6c7b8a9f10",
                      "target": "explant",
                      "target_id": "3f9a2c1e-7b4d-4e8f-a6c5-1d2e3f4a5b6c",
                      "kind": "photo",
                      "file_name": "vessel-12-week-3.png",
                      "content_type": "image/png",
                      "caption": "Callus forming at the cut edge",
                      "captured_at": null,
                      "uploaded_by": "0d7e4b9a-6f21-4c3e-8a5b-2e9f1c7d4a60",
                      "created_at": "2026-09-25T14:20:11.000Z",
                      "view_url": "https://files.example.com/vessel-12-week-3.png?signature=4f9c2e",
                      "view_url_expires_at": "2026-09-25T14:35:11.000Z"
                    }
                  ],
                  "meta": {
                    "next_cursor": null
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — `target_id` does not name a record of that kind in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "`target_id` does not name a record of that kind in the key's workspace."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — Both `cursor` and `offset` were sent; use one.\n\n`INVALID_CURSOR` — The cursor is malformed, or came from a different list or different filters. Start again without it.\n\n`VALIDATION_ERROR` — `target` or `target_id` is missing or not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR",
                            "INVALID_CURSOR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "Both `cursor` and `offset` were sent; use one."
              },
              {
                "code": "INVALID_CURSOR",
                "when": "The cursor is malformed, or came from a different list or different filters. Start again without it."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "`target` or `target_id` is missing or not valid."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`ASSET_QUERY_FAILED` — The files could not be read. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ASSET_QUERY_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "ASSET_QUERY_FAILED",
                "when": "The files could not be read. Retry later."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAsset",
        "tags": [
          "Media files"
        ],
        "summary": "Attach an image to a record",
        "description": "Attaches an image to a plant, explant, contamination log or SOP in the workspace. It appears on that record in xPlant exactly like a photo added in the app. Send the image as `image_url` or as `image_base64` — exactly one.\n\n**Limits.** JPEG, PNG, WebP or GIF, up to 10 MB. The type is read from the image itself, not from its name. A request body can be at most about 4.5 MB, and base64 makes a file about a third larger, so send `image_base64` for images up to about 3 MB and `image_url` for anything larger. A request body over that size is refused with `413` before it reaches the API.\n\n**`image_url`.** xPlant downloads the image once, over `https`, from the public internet. Addresses on private or local networks are refused, redirects are not followed, and the download must finish within 10 seconds.\n\nThe response's `view_url` works for 15 minutes. A retry with the same `Idempotency-Key` returns the first response, with a fresh `view_url`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:assets"
        ],
        "x-idempotent": true,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string",
                    "enum": [
                      "plant",
                      "explant",
                      "contamination",
                      "sop"
                    ],
                    "description": "The kind of record to attach the image to: `plant`, `explant`, `contamination`, `sop`."
                  },
                  "target_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The id of that record. It must be in the key's workspace."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "An `https` address xPlant downloads the image from, up to 10 MB. It must be reachable from the public internet: private and local network addresses are refused, and redirects are not followed, so send the image's final address. The download must finish within 10 seconds. Use this for anything larger than about 3 MB."
                  },
                  "image_base64": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The image itself, base64-encoded, without a `data:` prefix. A request body can be at most about 4.5 MB and base64 makes a file about a third larger, so this suits images up to about 3 MB. Send anything larger, up to the 10 MB limit, as `image_url`."
                  },
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "The name to show for the file, for example `leaf-sample-3.jpg`. Defaults to the last part of `image_url`, or `photo` for an inline image."
                  },
                  "caption": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "A short note stored with the image and shown beside it in xPlant."
                  }
                },
                "required": [
                  "target",
                  "target_id"
                ]
              },
              "example": {
                "target": "explant",
                "target_id": "3f9a2c1e-7b4d-4e8f-a6c5-1d2e3f4a5b6c",
                "image_base64": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==",
                "filename": "vessel-12-week-3.png",
                "caption": "Callus forming at the cut edge"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "8c2f1a6e-4b3d-4f7a-9e21-5d6c7b8a9f10",
                    "target": "explant",
                    "target_id": "3f9a2c1e-7b4d-4e8f-a6c5-1d2e3f4a5b6c",
                    "kind": "photo",
                    "file_name": "vessel-12-week-3.png",
                    "content_type": "image/png",
                    "caption": "Callus forming at the cut edge",
                    "captured_at": null,
                    "uploaded_by": "0d7e4b9a-6f21-4c3e-8a5b-2e9f1c7d4a60",
                    "created_at": "2026-09-25T14:20:11.000Z",
                    "view_url": "https://files.example.com/vessel-12-week-3.png?signature=4f9c2e",
                    "view_url_expires_at": "2026-09-25T14:35:11.000Z"
                  }
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — The request body is not valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The request body is not valid JSON."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "409": {
            "description": "`IDEMPOTENCY_IN_FLIGHT` — A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "IDEMPOTENCY_IN_FLIGHT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "IDEMPOTENCY_IN_FLIGHT",
                "when": "A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds."
              }
            ],
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "413": {
            "description": "`PAYLOAD_TOO_LARGE` — The image is larger than 10 MB.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAYLOAD_TOO_LARGE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAYLOAD_TOO_LARGE",
                "when": "The image is larger than 10 MB."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "415": {
            "description": "`UNSUPPORTED_MEDIA_TYPE` — The file is not a JPEG, PNG, WebP or GIF image. The type is read from the file itself.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNSUPPORTED_MEDIA_TYPE"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "UNSUPPORTED_MEDIA_TYPE",
                "when": "The file is not a JPEG, PNG, WebP or GIF image. The type is read from the file itself."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — The `Idempotency-Key` header is malformed.\n\n`VALIDATION_ERROR` — A field failed validation. `error` names the first one, for example `title: title is required`.\n\n`VALIDATION_ERROR` — `target_id` does not name a record of that kind in the key's workspace.\n\n`VALIDATION_ERROR` — `image_url` is not an `https` address on the public internet.\n\n`IMAGE_URL_FETCH_FAILED` — `image_url` could not be downloaded: it redirected, answered with an error status, took longer than 10 seconds, or its host could not be found. `error` says which.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR",
                            "IMAGE_URL_FETCH_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The `Idempotency-Key` header is malformed."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "A field failed validation. `error` names the first one, for example `title: title is required`."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "`target_id` does not name a record of that kind in the key's workspace."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "`image_url` is not an `https` address on the public internet."
              },
              {
                "code": "IMAGE_URL_FETCH_FAILED",
                "when": "`image_url` could not be downloaded: it redirected, answered with an error status, took longer than 10 seconds, or its host could not be found. `error` says which."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`ASSET_UPLOAD_FAILED` — The image could not be stored. Retry with the same `Idempotency-Key`.\n\n`ASSET_INSERT_FAILED` — The image could not be saved to the record. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ASSET_UPLOAD_FAILED",
                            "ASSET_INSERT_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "ASSET_UPLOAD_FAILED",
                "when": "The image could not be stored. Retry with the same `Idempotency-Key`."
              },
              {
                "code": "ASSET_INSERT_FAILED",
                "when": "The image could not be saved to the record. Retry with the same `Idempotency-Key`."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/{id}": {
      "get": {
        "operationId": "getAsset",
        "tags": [
          "Media files"
        ],
        "summary": "Get a photo or file",
        "description": "One photo or file, with a `view_url` that works for 15 minutes from this response. Fetch it again whenever you need the file; never store the link.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:assets"
        ],
        "x-idempotent": false,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The record's id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "8c2f1a6e-4b3d-4f7a-9e21-5d6c7b8a9f10",
                    "target": "explant",
                    "target_id": "3f9a2c1e-7b4d-4e8f-a6c5-1d2e3f4a5b6c",
                    "kind": "photo",
                    "file_name": "vessel-12-week-3.png",
                    "content_type": "image/png",
                    "caption": "Callus forming at the cut edge",
                    "captured_at": null,
                    "uploaded_by": "0d7e4b9a-6f21-4c3e-8a5b-2e9f1c7d4a60",
                    "created_at": "2026-09-25T14:20:11.000Z",
                    "view_url": "https://files.example.com/vessel-12-week-3.png?signature=4f9c2e",
                    "view_url_expires_at": "2026-09-25T14:35:11.000Z"
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — No file with this id is attached to a record in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "No file with this id is attached to a record in the key's workspace."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`ASSET_QUERY_FAILED` — The file could not be read. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ASSET_QUERY_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "ASSET_QUERY_FAILED",
                "when": "The file could not be read. Retry later."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          }
        }
      }
    },
    "/api/v1/comments": {
      "get": {
        "operationId": "listComments",
        "tags": [
          "Comments"
        ],
        "summary": "List comments on a record",
        "description": "The discussion on one plant, explant, contamination log, task, media recipe or SOP, oldest first. Replies carry `parent_id`. A deleted comment keeps its place, with its text removed, so the replies to it still read in order.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:comments"
        ],
        "x-idempotent": false,
        "x-cursor": true,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "plant",
                "explant",
                "contamination",
                "task",
                "media_recipe",
                "sop"
              ]
            },
            "description": "The kind of record whose comments to list."
          },
          {
            "name": "entity_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The id of the record whose comments to list."
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "id": "9c4e2a71-3d5b-4f86-b1e0-7a2d6c8f3e45",
                      "entity_type": "explant",
                      "entity_id": "6d2f9a14-8b3e-4c71-a5d0-1f7e3b8c2a96",
                      "parent_id": null,
                      "body": "@sam the Alocasia line on shelf 2 is ready to go onto fresh medium. See #task:Subculture-Alocasia-line.",
                      "status": "active",
                      "is_pinned": false,
                      "author": {
                        "id": "0d7e4b9a-6f21-4c3e-8a5b-2e9f1c7d4a60",
                        "name": "Sam Okafor"
                      },
                      "mentioned_user_ids": [
                        "4a8f1c63-2e7d-4b95-8c10-5d3e9f7a2b68"
                      ],
                      "references": [
                        {
                          "entity_type": "task",
                          "entity_id": "5b0f6f3e-2c1a-4d8e-9f47-0a6c3e1b7d22",
                          "label": "Subculture Alocasia line"
                        }
                      ],
                      "created_at": "2026-09-25T09:15:40.000Z",
                      "updated_at": "2026-09-25T09:15:40.000Z",
                      "edited_at": null
                    }
                  ],
                  "meta": {
                    "next_cursor": null
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — `entity_id` names no record of that `entity_type` in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "`entity_id` names no record of that `entity_type` in the key's workspace."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — Both `cursor` and `offset` were sent; use one.\n\n`INVALID_CURSOR` — The cursor is malformed, or came from a different list or different filters. Start again without it.\n\n`VALIDATION_ERROR` — `entity_type` or `entity_id` is missing or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR",
                            "INVALID_CURSOR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "Both `cursor` and `offset` were sent; use one."
              },
              {
                "code": "INVALID_CURSOR",
                "when": "The cursor is malformed, or came from a different list or different filters. Start again without it."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "`entity_type` or `entity_id` is missing or malformed."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`COMMENT_QUERY_FAILED` — The comments could not be read. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "COMMENT_QUERY_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "COMMENT_QUERY_FAILED",
                "when": "The comments could not be read. Retry later."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "tags": [
          "Comments"
        ],
        "summary": "Comment on a record",
        "description": "Adds a comment to a plant, explant, contamination log, task, media recipe or SOP, as the key's owner. It is the same comment the app makes: members it names are notified, the author of the comment it replies to is told, the people following a task hear about it, and it appears in the record's activity.\n\nThe key's owner needs the member role or above in the workspace, as in the app.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "write:comments"
        ],
        "x-idempotent": true,
        "x-cursor": false,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity_type": {
                    "type": "string",
                    "enum": [
                      "plant",
                      "explant",
                      "contamination",
                      "task",
                      "media_recipe",
                      "sop"
                    ],
                    "description": "The kind of record to comment on."
                  },
                  "entity_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The id of the record to comment on."
                  },
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "The comment, in Markdown. Stored exactly as sent. To mention someone, write `@` and their username in the text and add their user id to `mentioned_user_ids`. To link a record, write `#plant:` (or `#explant:`, `#contamination:`, `#task:`, `#media:`, `#sop:`) followed by its name, and list it in `references`."
                  },
                  "parent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Reply to this comment. It must be on the same record."
                  },
                  "mentioned_user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "maxItems": 25,
                    "description": "Workspace members this comment names. Each is notified, exactly as when someone is mentioned in the app. Every id must be an active member of the workspace."
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "entity_type": {
                          "type": "string",
                          "enum": [
                            "plant",
                            "explant",
                            "contamination",
                            "task",
                            "media_recipe",
                            "sop"
                          ],
                          "description": "The kind of record the comment links to."
                        },
                        "entity_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The linked record's id."
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200,
                          "description": "The record's name as it follows `#type:` in the body, where spaces are written as hyphens; either spelling is accepted here. The link is drawn over the matching text."
                        }
                      },
                      "required": [
                        "entity_type",
                        "entity_id",
                        "label"
                      ]
                    },
                    "maxItems": 25,
                    "description": "Records in this workspace that the body links to."
                  }
                },
                "required": [
                  "entity_type",
                  "entity_id",
                  "body"
                ]
              },
              "example": {
                "entity_type": "explant",
                "entity_id": "6d2f9a14-8b3e-4c71-a5d0-1f7e3b8c2a96",
                "body": "@sam the Alocasia line on shelf 2 is ready to go onto fresh medium. See #task:Subculture-Alocasia-line.",
                "mentioned_user_ids": [
                  "4a8f1c63-2e7d-4b95-8c10-5d3e9f7a2b68"
                ],
                "references": [
                  {
                    "entity_type": "task",
                    "entity_id": "5b0f6f3e-2c1a-4d8e-9f47-0a6c3e1b7d22",
                    "label": "Subculture Alocasia line"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "9c4e2a71-3d5b-4f86-b1e0-7a2d6c8f3e45",
                    "entity_type": "explant",
                    "entity_id": "6d2f9a14-8b3e-4c71-a5d0-1f7e3b8c2a96",
                    "parent_id": null,
                    "body": "@sam the Alocasia line on shelf 2 is ready to go onto fresh medium. See #task:Subculture-Alocasia-line.",
                    "status": "active",
                    "is_pinned": false,
                    "author": {
                      "id": "0d7e4b9a-6f21-4c3e-8a5b-2e9f1c7d4a60",
                      "name": "Sam Okafor"
                    },
                    "mentioned_user_ids": [
                      "4a8f1c63-2e7d-4b95-8c10-5d3e9f7a2b68"
                    ],
                    "references": [
                      {
                        "entity_type": "task",
                        "entity_id": "5b0f6f3e-2c1a-4d8e-9f47-0a6c3e1b7d22",
                        "label": "Subculture Alocasia line"
                      }
                    ],
                    "created_at": "2026-09-25T09:15:40.000Z",
                    "updated_at": "2026-09-25T09:15:40.000Z",
                    "edited_at": null
                  }
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — The request body is not valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The request body is not valid JSON."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.\n\n`FORBIDDEN` — The key's owner is below the member role in the workspace. A key never does more than its owner can in xPlant; `error` names the role needed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              },
              {
                "code": "FORBIDDEN",
                "when": "The key's owner is below the member role in the workspace. A key never does more than its owner can in xPlant; `error` names the role needed."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — `entity_id` names no record of that `entity_type` in the workspace, or `parent_id` names no comment on it; `error` says which.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "`entity_id` names no record of that `entity_type` in the workspace, or `parent_id` names no comment on it; `error` says which."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "409": {
            "description": "`IDEMPOTENCY_IN_FLIGHT` — A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds.\n\n`CONFLICT` — The task's discussion is locked. Only the task's creator or a lab manager can comment.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "IDEMPOTENCY_IN_FLIGHT",
                            "CONFLICT"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "IDEMPOTENCY_IN_FLIGHT",
                "when": "A request with this `Idempotency-Key` is still being processed; retry after `Retry-After` seconds."
              },
              {
                "code": "CONFLICT",
                "when": "The task's discussion is locked. Only the task's creator or a lab manager can comment."
              }
            ],
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — The `Idempotency-Key` header is malformed.\n\n`VALIDATION_ERROR` — A field failed validation. `error` names the first one, for example `title: title is required`.\n\n`VALIDATION_ERROR` — A mentioned user is not an active member of the workspace, or a linked record is not in it.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "The `Idempotency-Key` header is malformed."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "A field failed validation. `error` names the first one, for example `title: title is required`."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "A mentioned user is not an active member of the workspace, or a linked record is not in it."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`COMMENT_CREATE_FAILED` — The comment could not be saved. Retry with the same `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "COMMENT_CREATE_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "COMMENT_CREATE_FAILED",
                "when": "The comment could not be saved. Retry with the same `Idempotency-Key`."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          }
        }
      }
    },
    "/api/v1/commerce/order-lines": {
      "get": {
        "operationId": "listOrderLines",
        "tags": [
          "Sell-through"
        ],
        "summary": "List store order lines",
        "description": "Your store's sales, line by line, most recent first: which product sold, the culture line it is matched to, how many, at what unit price, and when. Filter with `from` and `to` for a period and `product_link_id` for one product.\n\nOrder lines carry no buyer details — no names, email or postal addresses — and leave out your store's order numbers. For totals, use the sell-through summary rather than adding these lines up: amounts are exact decimal text, and lines in different currencies must never be added together.\n\nNeeds culture line pricing, which includes sell-through, in the workspace's plan; without it the answer is `FEATURE_NOT_INCLUDED`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "read:commerce"
        ],
        "x-idempotent": false,
        "x-cursor": true,
        "x-device-token": false,
        "x-documented": true,
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only sales at or after this time, as an ISO 8601 timestamp."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only sales at or before this time, as an ISO 8601 timestamp."
          },
          {
            "name": "product_link_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Only lines for this store product, by the `product_link_id` an order line carries."
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderLine"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": [
                    {
                      "id": "9b3d5f7a-1c2e-4a4b-8d6f-0e2a4c6e8b1d",
                      "product_link_id": "f2a4c6e8-0b1d-4e3f-a5b7-c9d1e3f5a7b9",
                      "plant_id": "6d1b3f8a-4c2e-4a97-b5d0-8e7f2a1c9b43",
                      "store_product_id": "prod-5521",
                      "store_variant_id": "var-5521-4in",
                      "quantity": 3,
                      "unit_price": {
                        "amount": "18.50",
                        "currency": "USD"
                      },
                      "occurred_at": "2026-09-21T15:02:44.000Z"
                    }
                  ],
                  "meta": {
                    "next_cursor": null
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "401": {
            "description": "The key is missing, malformed or revoked, or its owner is no longer a member of the workspace. `code`: `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "402": {
            "description": "`PAID_PLAN_REQUIRED` — The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only.\n\n`FEATURE_NOT_INCLUDED` — Culture line pricing, which includes sell-through, is not included in your plan.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PAID_PLAN_REQUIRED",
                            "FEATURE_NOT_INCLUDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "PAID_PLAN_REQUIRED",
                "when": "The workspace's plan does not include the API. The full API is included with xPlant+ Teams and Enterprise; on Hobby and Pro Lab, keys can connect devices only."
              },
              {
                "code": "FEATURE_NOT_INCLUDED",
                "when": "Culture line pricing, which includes sell-through, is not included in your plan."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN` — The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs.\n\n`DEVICE_TOKEN_NOT_ACCEPTED` — A device token was sent; this operation needs a workspace API key.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "DEVICE_TOKEN_NOT_ACCEPTED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FORBIDDEN",
                "when": "The key lacks a scope this operation requires, or its owner's current role in the workspace cannot use it — a key never does more than its owner can in xPlant. `error` names the scope, and for a role, the role it needs."
              },
              {
                "code": "DEVICE_TOKEN_NOT_ACCEPTED",
                "when": "A device token was sent; this operation needs a workspace API key."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — `product_link_id` names no store product in the key's workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "NOT_FOUND",
                "when": "`product_link_id` names no store product in the key's workspace."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "422": {
            "description": "`VALIDATION_ERROR` — Both `cursor` and `offset` were sent; use one.\n\n`INVALID_CURSOR` — The cursor is malformed, or came from a different list or different filters. Start again without it.\n\n`VALIDATION_ERROR` — A query parameter is malformed, or `from` is later than `to`. `error` names it.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "VALIDATION_ERROR",
                            "INVALID_CURSOR"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "VALIDATION_ERROR",
                "when": "Both `cursor` and `offset` were sent; use one."
              },
              {
                "code": "INVALID_CURSOR",
                "when": "The cursor is malformed, or came from a different list or different filters. Start again without it."
              },
              {
                "code": "VALIDATION_ERROR",
                "when": "A query parameter is malformed, or `from` is later than `to`. `error` names it."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          },
          "429": {
            "description": "`RATE_LIMIT_EXCEEDED` — too many requests for this key, device token or workspace. Wait `Retry-After` seconds.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "`FEATURE_CHECK_FAILED` — Your plan could not be checked. Retry later.\n\n`SELL_THROUGH_EVENT_QUERY_FAILED` — The sales could not be read. Retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "FEATURE_CHECK_FAILED",
                            "SELL_THROUGH_EVENT_QUERY_FAILED"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            },
            "x-error-codes": [
              {
                "code": "FEATURE_CHECK_FAILED",
                "when": "Your plan could not be checked. Retry later."
              },
              {
                "code": "SELL_THROUGH_EVENT_QUERY_FAILED",
                "when": "The sales could not be read. Retry later."
              }
            ],
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            }
          }
        }
      }
    },
    "/api/v1/commerce/sell-through": {
      "get": {
        "operationId": "getSellThrough",
[...]
